.btn-primary {
    background-color: #df313c;
    border-color: #df313c;
}
h4, .h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

ul.social-buttons li a {
    background-color: #06429a;
}

ul.social-buttons li a:hover {
    background-color: #df313c;
}
.portfolio-item:hover {
    transform: scale(1.05);
  box-shadow: 10px 10px 15px transparent;
}
#contact {
    padding: 30px;
}
.disclaimer {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}
h4.footer-title{
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}
footer {
    padding-top: 25px;
    padding-bottom: 0px;
}
.footer-img{
    margin-top:30px;
}
@media (min-width:768px) {
    .clients img {
        width: 200px;
    }
}
#about .text-justify{
    line-height: 30px;
    
    
    color:#777;
}
.text-justify span{
    font-weight: 800;
}
p {
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#slider-builder {
    padding-top: 50px;
}
#slider-builder h2{
    padding-bottom: 20px;
}
ul.list-inline li{
    display: inline-block;
    padding: 10px 5px;
}
.choice {
    background: url('../img/city-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 10% 20%;
    color: #fff;
}
.choice h3{
    margin-top: 25px;
    margin-bottom: 15px;
}
.choice p {
    margin-top:15px;
}
.enquire {
    color: #fff;
    padding: 30px 0px!important;
}
.leasing {
    padding: 15px 5px;
    border: 6px solid ghostwhite;
    background-image: url('../img/city-bg.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.h-line {
    border:3px solid cyan;
    width: 30%;
}